.carousel__prev,
.carousel__next,
.carousel__prev:hover,
.carousel__next:hover {
  border-width: 0;
  color: #fff;
}

.carousel__next {
  right: 20px !important;
}

.carousel__prev {
  left: 20px !important;
}

.carousel__next--disabled,
.carousel__prev--disabled {
  display: none !important;
}

.carousel__slide {
  padding: 0;
}
